@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('static/font/The Seasons.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'The Seasons', serif;
    background-color: #333319;
    color: #E5FFFF;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    line-height: 150%;
}

.top-bar {
    background-color: #E5FFFF;
    color: #333319;
    display: flex;
    align-items: left;
}

div.top-bar img {
    width: 52px;
    height: 54px;
    padding-left: 120px;
    padding-top: 8px;
}

.top-bar h1 {
    margin: 0;
    font-size: 30px;
    padding-top: 1.75%;
    padding-left: 1.8%;
    order: 2;
}

.sign-button-bar {
    order: 3;
    padding-left: 65vw;
    padding-top:3vh;
}

.content-home {
    text-align: center;
    margin-top: 5vh;
}

div.content-home img {
    width: 150px;
    height: 152px;
}

.content-home h1 {
    color:#E5FFFF;
    font-size: 60px;
    margin-bottom: 7vh;
}

.content-home p {
    font-size: 22px;
    margin-bottom: 7vh;
    margin-top: 6vh;
    color: white;
}

.subscribe-button {
    background-color: #E5FFFF;
    color: rgb(46, 44, 44);
    padding: 15px 70px;
    text-decoration: none;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    
}

.sign-button {
    background-color: #333319;
    color: #E5FFFF;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.content-sub {
    text-align: left;
    margin-top: 12vh;
    margin-left: 10vw;
}

.content-sub h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-right: 700px;
    color: white;
}

.subscribe-button:hover {
    background-color: #D4E6E6;
}

.sign-button:hover {
    background-color: #505027;
}


form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form label, form input, form button {
    font-size: 16px;
    margin: 10px 0;
}

form input {
    padding: 10px;
    width: 250px;
    border-radius: 15px;
}

form button {
    background-color: #E5FFFF;
    color: #333319;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 150px;
}

form button:hover {
    background-color: #D4E6E6;
}


.content-selection {
    display:inline-flex;
}
.content-checkbox {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 5px;
}
.content-label {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form label {
    font-size: 18px;
    height: 15px;
    line-height: 1.2;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

fieldset {
    width: 50%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.content-end{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.content-end h2{
    text-align: center;
}

.p404{
    display: flexbox;
    text-align: center;
}

.content-cancel{
    display:flexbox;
    padding-left: 5vw;
    padding-top: 5vh;
}

.content-cancel p{
    font-size: large;
}