<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}404{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="404">
        <h1>404</h1>
        <br>
        <h3>Página não encontrada</h3>
    </div>
</body>
</html>
