{% extends 'layout.html' %}

{% block title %}Lumière - Cancelar Assinatura{% endblock %}

{% block content %}
<div class="content-cancel">
    <h2>Cancelar Assinatura</h2>
    <p>Por favor, confirme seu email e sua senha para o cancelamento:</p>
    <form method="post">
        <input type="email" id="email" placeholder="exemplo@exemplo.com" name="email" required>
        <input type="password" id="password" placeholder="senha" name="password" required>
        <button type="submit" class="cancel-button">Confirmar</button>
    </form>
</div>
{% endblock %}