<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cancelar inscrição</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
</head>
<body>
    <div class="top-bar">
        <h1>LUMIÈRE</h1>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Claquete">
        </a>
    </div>
    <div class="content-sub">
        <h2>Confirme seu email e senha para confirmar o cancelamento:</h2>
        <form method="POST">
            <input type="email" id="email" placeholder="exemplo@exemplo.com" name="email" required>
            <input type="password" id="password" placeholder="senha" name="password" minlength="6" required>
            <div class="content-sub-button">
                <button type="submit">Cancelar</button>
            </div>
        </form>
    </div>
</body>
</html>