<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>LUMIÈRE - Sua Dose Semanal de Entretenimento Cinematográfico</title>
</head>
<body>
    <div class="top-bar">
        <h1>LUMIÈRE</h1>
    </div>
    <div class="content">
        <h1>LUMIÈRE</h1>
        <p>Sua Dose Semanal de Entretenimento Cinematográfico</p>
        <a href="{{ url_for('subscribe') }}" class="subscribe-button">Inscreva-se</a>
    </div>
</body>
</html>
