<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Assine a newsletter</title>
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
</head>
<body>
    <div class="top-bar">
        <h1>LUMIÈRE</h1>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Claquete">
        </a>
    </div>
    <div class="content-sub">
        <h2>Cadastre um email e tenha as melhores recomendações na sua caixa de entrada!</h2>
        <form method="POST">
            <input type="email" id="email" name="email" required>
            <div class="content-sub-button">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </div>
</body>
</html>
